.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
