<header class="header">
  <div class="header__container container">
    <a class="logo header__logo" href="" lang="en">
      <svg width="24" height="24">
        <use></use></svg
      ><span class="logo__title">Filmoteka</span></a
    >
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="./" target="_self" class="menu__link menu__link--current"
            >HOME</a
          >
        </li>
        <li class="menu__item">
          <a href="./" target="_self" class="menu__link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- for index.html -->
  <form class="form container" name="search-form" autocomplete="on" novalidate>
    <div class="form__box">
      <input
        class="form__input"
        type="text"
        name="text"
        placeholder="Movie search"
      />
      <button class="form__btn" type="submit">
        <svg class="form__icon" width="12" height="12" viewBox="0 0 12 12">
          <use></use>
          <!-- example -->
          <!-- <use href="./images/icons.svg#icon-send"></use> -->
        </svg>
      </button>
    </div>
    <span class="form__text-error"
      >Search result not successful. Enter the correct movie name and
    </span>
  </form>
  <!-- for user-page -->
  <div class="btn container">
    <button class="btn__watched">WATCHED</button>
    <button class="btn__queue">QUEUE</button>
  </div>
</header>
