<section class="films">
  <div class="container">
    <h1 class="films__title">Film list</h1>

    <ul class="films__list flex"></ul>

    <div class="pagination flex">
      <div class="page disabled" id="prev">Previous page</div>
      <div class="current" id="curr">1</div>
      <div class="page" id="next">Next page</div>
    </div>
    <div class="btn__up">
      <svg class="icon__arrow">
        <use href="./images/symbol-defs.svg#uparrow"></use>
      </svg>
    </div>
    <div class="btn__down">
      <svg class="icon__arrow">
        <use href="./images/symbol-defs.svg#downarrow"></use>
      </svg>
    </div>
  </div>
</section>
