<section class="films">
  <div class="container">
    <h1 class="films__title">Film list</h1>
    <!-- <div class="stub__container">
      <img src="./images/img_stub.png" alt="the waiting thing" />
      <h2 class="stub__title">Movies didn't load</h2>
    </div> -->
    <ul class="films__list flex">
      <!-- Дані приходять з js -->
    </ul>

    <div class="pagination">
      <div class="page disabled" id="prev" data-id="prev">Prev</div>

      <div class="before-cur-page">
        <!-- Дані приходять з js -->
      </div>

      <div class="current" id="curr">1</div>

      <div class="after-cur-page">
        <!-- Дані приходять з js -->
      </div>

      <div class="page" id="next" data-id="next">Next</div>
    </div>
    <div class="btn__up">
      <svg class="icon__arrow">
        <use href="./images/symbol-defs.svg#uparrow"></use>
      </svg>
    </div>
    <div class="btn__down">
      <svg class="icon__arrow">
        <use href="./images/symbol-defs.svg#downarrow"></use>
      </svg>
    </div>
  </div>
</section>
