<div class="backdrop is-hidden" data-team-modal>
  <!-- is-hidden -->
  <div class="team-modal">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>

    <button type="button" class="team-modal__close-btn" data-team-modal-close>
      <svg class="team-modal__close-icon" width="14" height="14">
        <use href="./images/icons.svg#icon-team-close"></use>
      </svg>
    </button>
    <h2 class="team-modal__header">Dezard</h2>
    <ul class="team-modal__list">
      <li class="team-modal__item">
        <a href="" class="team-modal__link">
          <picture class="team-modal__img">
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/viacheslav-haber-lg@1x.webp 1x,
                ./images/team/lg/viacheslav-haber-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/viacheslav-haber-lg@1x.jpg 1x,
                ./images/team/lg/viacheslav-haber-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/viacheslav-haber-md@1x.webp 1x,
                ./images/team/md/viacheslav-haber-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/viacheslav-haber-md@1x.jpg 1x,
                ./images/team/md/viacheslav-haber-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/viacheslav-haber-sm@1x.webp 1x,
                ./images/team/sm/viacheslav-haber-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/viacheslav-haber-sm@2x.jpg 1x,
                ./images/team/sm/viacheslav-haber-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/viacheslav-haber-lg@1x.jpg"
              alt="Viacheslav Haber"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Viacheslav Haber</h2>
          <p class="team-modal__descr">Team Lead & Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/HaberViacheslav"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/haber-viacheslav"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/viacheslav-haber/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/vladislav-perebziak-lg@1x.webp 1x,
                ./images/team/lg/vladislav-perebziak-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/vladislav-perebziak-lg@1x.jpg 1x,
                ./images/team/lg/vladislav-perebziak-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/vladislav-perebziak-md@1x.webp 1x,
                ./images/team/md/vladislav-perebziak-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/vladislav-perebziak-md@1x.jpg 1x,
                ./images/team/md/vladislav-perebziak-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/vladislav-perebziak-sm@1x.webp 1x,
                ./images/team/sm/vladislav-perebziak-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/vladislav-perebziak-sm@1x.jpg 1x,
                ./images/team/sm/vladislav-perebziak-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/vladislav-perebziak-lg@1x.jpg"
              alt="Vladislav Perebziak"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Vladislav Perebziak</h2>
          <p class="team-modal__descr">Scrum master Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/vlad_uzhgor"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/Vladislav-UZH"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/vladyslav-perebzyak-02a18a214/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/viktoria-domashchuk-lg@1x.webp 1x,
                ./images/team/lg/viktoria-domashchuk-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/viktoria-domashchuk-lg@1x.jpg 1x,
                ./images/team/lg/viktoria-domashchuk-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/viktoria-domashchuk-md@1x.webp 1x,
                ./images/team/md/viktoria-domashchuk-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/viktoria-domashchuk-md@1x.jpg 1x,
                ./images/team/md/viktoria-domashchuk-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/viktoria-domashchuk-sm@1x.webp 1x,
                ./images/team/sm/viktoria-domashchuk-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/viktoria-domashchuk-sm@1x.jpg 1x,
                ./images/team/sm/viktoria-domashchuk-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/viktoria-domashchuk-lg@1x.jpg"
              alt="Viktoria Domashchuk"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Viktoria Domashchuk</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Vika_Domashchuk"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/ViktoriaDomashchuk"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/viktoriia-domashchuk-ba2040255"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/maxym-huklivsky-lg@1x.webp 1x,
                ./images/team/lg/maxym-huklivsky-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/maxym-huklivsky-lg@1x.jpg 1x,
                ./images/team/lg/maxym-huklivsky-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/maxym-huklivsky-md@1x.webp 1x,
                ./images/team/md/maxym-huklivsky-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/maxym-huklivsky-md@1x.jpg 1x,
                ./images/team/md/maxym-huklivsky-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/maxym-huklivsky-sm@1x.webp 1x,
                ./images/team/sm/maxym-huklivsky-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/maxym-huklivsky-sm@1x.jpg 1x,
                ./images/team/sm/maxym-huklivsky-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/maxym-huklivsky-lg@1x.jpg"
              alt="Maxym Huklivsky"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Maxym Huklivsky</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/maxym_hk"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/maxym-huklivsky"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/maxym-huklivsky-3b1213257/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/yuliya-skobel-lg@1x.webp 1x,
                ./images/team/lg/yuliya-skobel-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/yuliya-skobel-lg@1x.jpg 1x,
                ./images/team/lg/yuliya-skobel-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/yuliya-skobel-md@1x.webp 1x,
                ./images/team/md/yuliya-skobel-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/yuliya-skobel-md@1x.jpg 1x,
                ./images/team/md/yuliya-skobel-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/yuliya-skobel-sm@1x.webp 1x,
                ./images/team/sm/yuliya-skobel-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/yuliya-skobel-sm@1x.jpg 1x,
                ./images/team/sm/yuliya-skobel-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/yuliya-skobel-lg@1x.jpg"
              alt="Yuliya Skobel"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Yuliya Skobel</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Yuliya_Skobel"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/Skobel58912171"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/yuliya-skobel/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/serhiy-belyavskii-lg@1x.webp 1x,
                ./images/team/lg/serhiy-belyavskii-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/serhiy-belyavskii-lg@1x.jpg 1x,
                ./images/team/lg/serhiy-belyavskii-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/serhiy-belyavskii-md@1x.webp 1x,
                ./images/team/md/serhiy-belyavskii-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/serhiy-belyavskii-md@1x.jpg 1x,
                ./images/team/md/serhiy-belyavskii-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/serhiy-belyavskii-sm@1x.webp 1x,
                ./images/team/sm/serhiy-belyavskii-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/serhiy-belyavskii-sm@1x.jpg 1x,
                ./images/team/sm/serhiy-belyavskii-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/serhiy-belyavskii-lg@1x.jpg"
              alt="Serhiy Belyavskii"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Serhiy Belyavskii</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Serhiy_Beliavskyi"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/SerhiySBV"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/daria-vdovichenko-lg@1x.webp 1x,
                ./images/team/lg/daria-vdovichenko-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/daria-vdovichenko-lg@1x.jpg 1x,
                ./images/team/lg/daria-vdovichenko-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/daria-vdovichenko-md@1x.webp 1x,
                ./images/team/md/daria-vdovichenko-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/daria-vdovichenko-md@1x.jpg 1x,
                ./images/team/md/daria-vdovichenko-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/daria-vdovichenko-sm@1x.webp 1x,
                ./images/team/sm/daria-vdovichenko-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/daria-vdovichenko-sm@1x.jpg 1x,
                ./images/team/sm/daria-vdovichenko-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/daria-vdovichenko-lg@1x.jpg"
              alt="Daria Vdovichenko"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Daria Vdovichenko</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Daria_Vdovichenko"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/daria31v"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/daria-vdovichenko"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/oleg-deda-lg@1x.webp 1x,
                ./images/team/lg/oleg-deda-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/oleg-deda-lg@1x.jpg 1x,
                ./images/team/lg/oleg-deda-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/oleg-deda-md@1x.webp 1x,
                ./images/team/md/oleg-deda-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/oleg-deda-md@1x.jpg 1x,
                ./images/team/md/oleg-deda-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/oleg-deda-sm@1x.webp 1x,
                ./images/team/sm/oleg-deda-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/oleg-deda-sm@1x.jpg 1x,
                ./images/team/sm/oleg-deda-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/oleg-deda-lg@1x.jpg"
              alt="Oleg Deda"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title small-title">Oleg Deda</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/GeminiUa25"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/Oleg-Deda/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/olexandr-tsapuk-lg@1x.webp 1x,
                ./images/team/lg/olexandr-tsapuk-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/olexandr-tsapuk-lg@1x.jpg 1x,
                ./images/team/lg/olexandr-tsapuk-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/olexandr-tsapuk-md@1x.webp 1x,
                ./images/team/md/olexandr-tsapuk-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/olexandr-tsapuk-md@1x.jpg 1x,
                ./images/team/md/olexandr-tsapuk-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/olexandr-tsapuk-sm@1x.webp 1x,
                ./images/team/sm/olexandr-tsapuk-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/olexandr-tsapuk-sm@1x.jpg 1x,
                ./images/team/sm/olexandr-tsapuk-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/olexandr-tsapuk-lg@1x.jpg"
              alt="Olexandr Tsapuk"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Olexandr Tsapuk</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/OlexTs"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/OlexTS"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/olexandr-tsapuk-42477a25a"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/kate-enverovna-lg@1x.webp 1x,
                ./images/team/lg/kate-enverovna-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/kate-enverovna-lg@1x.jpg 1x,
                ./images/team/lg/kate-enverovna-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/kate-enverovna-md@1x.webp 1x,
                ./images/team/md/kate-enverovna-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/kate-enverovna-md@1x.jpg 1x,
                ./images/team/md/kate-enverovna-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/kate-enverovna-sm@1x.webp 1x,
                ./images/team/sm/kate-enverovna-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/kate-enverovna-sm@1x.jpg 1x,
                ./images/team/sm/kate-enverovna-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/kate-enverovna-lg@1x.jpg"
              alt="Kate Nasurlaieva"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Kate Nasurlaieva</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Lskra"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/Katenver"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/oleksii-zhoshko-lg@1x.webp 1x,
                ./images/team/lg/oleksii-zhoshko-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/oleksii-zhoshko-lg@1x.jpg 1x,
                ./images/team/lg/oleksii-zhoshko-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/oleksii-zhoshko-md@1x.webp 1x,
                ./images/team/md/oleksii-zhoshko-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/oleksii-zhoshko-md@1x.jpg 1x,
                ./images/team/md/oleksii-zhoshko-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/oleksii-zhoshko-sm@1x.webp 1x,
                ./images/team/sm/oleksii-zhoshko-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/oleksii-zhoshko-sm@1x.jpg 1x,
                ./images/team/sm/oleksii-zhoshko-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/oleksii-zhoshko-lg@1x.jpg"
              alt="Oleksii Zhoshko"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Oleksii Zhoshko</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/Oleksiyzhoshko"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/OleksiyZ"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/oleksii-zhoshko-b2a79225a"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-modal__item">
        <a class="team-modal__link">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/vasyl-horaichuk-lg@1x.webp 1x,
                ./images/team/lg/vasyl-horaichuk-lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/lg/vasyl-horaichuk-lg@1x.jpg 1x,
                ./images/team/lg/vasyl-horaichuk-lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/vasyl-horaichuk-md@1x.webp 1x,
                ./images/team/md/vasyl-horaichuk-md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/md/vasyl-horaichuk-md@1x.jpg 1x,
                ./images/team/md/vasyl-horaichuk-md@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/vasyl-horaichuk-sm@1x.webp 1x,
                ./images/team/sm/vasyl-horaichuk-sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/sm/vasyl-horaichuk-sm@1x.jpg 1x,
                ./images/team/sm/vasyl-horaichuk-sm@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="team-modal__img"
              src="./images/team/lg/vasyl-horaichuk-lg@1x.jpg"
              alt="Vasyl Horaichuk"
            />
          </picture>
        </a>

        <div class="team-modal__content-wrp">
          <h2 class="team-modal__title">Vasyl Horaichuk</h2>
          <p class="team-modal__descr">Front-end developer</p>
          <ul class="social__items">
            <li class="social__item">
              <a
                href="https://t.me/vasyl_horaichuk"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="telegram"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://github.com/vasyl-horaichuk"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="github"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                href="https://www.linkedin.com/in/vasyl-horaichuk-768170bb/"
                target="_blank"
                rel="noopener norefferer"
                class="social__link"
                aria-label="linkedin"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
