.btn__up,
.btn__down {
  position: fixed;
  right: 20px;
  bottom: 80px;
  border-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: $transition opacity;

  &--hidden {
    opacity: 0;
    transition: $transition;
    pointer-events: none;
  }
  @media screen and (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: $desktop) {
    width: 60px;
    margin-top: 60px;
  }
}

.btn__down {
  bottom: 20px;
}

.icon__arrow {
  height: 60px;
  fill: $grey;
  
  &:hover {
    fill: $orange;
    transition: $transition fill;
  }
}
