.dark-theme {
    color: white;
    background-color: #221e32;
}

.theme-btn {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    background-color: rgba(118, 83, 154, 0.34);
    border-radius: 50%;
    padding: 0;
    // background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 50;
    cursor: pointer;
}

.theme-light {
    fill: #fff;
}

.is-hidden {
    display: none;
}