.header {
width: 100%;
background: rgba(0, 0, 0, 0.56);
max-width: 1280px;
padding-top: 118px;
padding-bottom: 118px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: auto;
margin-right: auto;
text-align: center;
background-repeat: no-repeat;
position: absolute;
// background-size: cover;
opacity: 0,9;
background-image: url('../images/background/sm/header-main-sm@1x.jpg');


@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    background-image: url('../images/background/sm/header-main-sm@2x.jpg');
}

@media screen and (min-width:768px) {
    background-image: url('../images/background/md/header-main-md@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/background/md/header-main-md@2x.jpg');
    }
}

@media screen and (min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/background/lg/header-main-lg@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/background/lg/header-main-lg@2x.jpg');
    }
}
}

















.header__container {
    display: flex;
    align-items: center;
    

}

.header__logo {
    padding-top: 40px;
    padding-left: 20px;
    
    @media screen and (min-width: 768px) {
        padding-top: 45px;
        padding-left: 31px;
        margin-right: 8px;
    }
    @media screen and (min-width: 1200px){
        margin-right: 10px;
    }
}