.menu {
    @media screen and (max-width: 767px) {
        // display: none;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.menu__list {
    @extend %list;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu__item {
    // margin-right: 50px;
    // display: block;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    @extend %link;
    letter-spacing: 0.02em;
    transition: color $transition;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
        color: $orange-button;
    }

    &--current {
        display: block;
        position: relative;
        color: $white;
        text-transform: none;
        padding-top: 28px;
        padding-bottom: 28px;

        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 28px;
        }

    }

    &--current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        display: block;
        width: 100%;
        height: 4px;
        background: $orange-button;
        border-radius: 2px;
    }

    @media screen and (min-width: 1200px) {
        bottom: 2px;
    }

}