/* Backdrop */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $backdrop;
  opacity: 1;

  z-index: 100;
  visibility: visible;
  @media screen and (max-width: ($tablet - 0.02px)) {
    overflow-y: scroll;
    padding: 93px 15px;
  }
}

.is-hidden {
  transition: transform $time-cubic, opacity $time-cubic;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .team-modal {
  transition: opacity $time-cubic, transform $time-cubic;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

/* Modal */

.team-modal {
  background-color: rgb(8, 13, 85);
  background-image: url('../images/background/modal/moon@1x.webp'),
    url('../images/background/modal/cloud@1x.webp'),
    url('../images/background/modal/witch@1x.webp');
  background-size: 153px 153px, 381px 240px, 72px 47px;
  background-position: 0 -15, 0 0, 0 0;
  background-repeat: no-repeat, repeat-x, no-repeat;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  padding: 40px 20px;
  transition: transform $time-cubic, opacity $time-cubic;
  border-radius: 15px;
  box-shadow: $shadow-team-modal;
  overflow: hidden;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/modal/moon@2x.webp),
      url(../images/background/modal/cloud@2x.webp),
      url(../images/background/modal/witch@2x.webp);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/background/modal/witch@1x.webp),
      url(../images/background/modal/ravens@1x.webp),
      url(../images/background/modal/cloud@1x.webp),
      url(../images/background/modal/moon@1x.webp),
      url(../images/background/modal/fog@1x.webp),
      url(../images/background/modal/castle@1x.webp),
      url(../images/background/modal/night@1x.webp);
    background-position: 600px 34px, 0 80px, 0 40px, 480px -40px, bottom,
      -10px 240px, center;
    background-size: 72px 47px, 136px 181px, 381px 240px, 350px 350px,
      796px 162px, 153px 230px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x,
      no-repeat, no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/modal/witch@2x.webp),
        url(../images/background/modal/ravens@2x.webp),
        url(../images/background/modal/cloud@2x.webp),
        url(../images/background/modal/moon@2x.webp),
        url(../images/background/modal/fog@2x.webp),
        url(../images/background/modal/castle@2x.webp),
        url(../images/background/modal/night@2x.webp);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/background/modal/witch@1x.webp),
      url(../images/background/modal/ravens@1x.webp),
      url(../images/background/modal/cloud@1x.webp),
      url(../images/background/modal/moon@1x.webp),
      url(../images/background/modal/fog@1x.webp),
      url(../images/background/modal/castle@1x.webp),
      url(../images/background/modal/night@1x.webp);
    background-position: 870px 100px, 0 80px, 680px 60px, 700px -40px,
      bottom center, -10px 340px, center;
    background-size: 72px 47px, 199px 265px, 381px 240px, 350px 350px,
      796px 162px, 153px 230px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x,
      no-repeat, no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/modal/night@2x.webp),
        url(../images/background/modal/castle@2x.webp),
        url(../images/background/modal/moon@2x.webp),
        url(../images/background/modal/cloud@2x.webp),
        url(../images/background/modal/witch@2x.webp);
    }
  }
  @media screen and (min-width: $mobile) {
    width: 90vw;
    max-width: 400px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 740px;
    width: 740px;

    padding: 20px 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 1024px;
    max-width: 1024px;
    padding: 20px 80px;
  }
}

.team-modal__header {
  font-family: $team-font;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.23;
  text-align: center;
  color: #ff6b08;
}

.team-modal__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team-modal__item {
  position: relative;
  overflow: hidden;
  @include flex-calc($indent, $elements: 1);
  text-align: center;
  transition: box-shadow $time-cubic;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(255, 107, 1, 0.6),
    0px 1px 1px rgba(255, 107, 8, 0.37), 0px 2px 1px rgba(255, 107, 1, 0.6);

  @media screen and (min-width: $tablet) {
    @include flex-calc($indent, $elements: 4);
    width: 126px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 160px;
  }
}

.team-modal__link {
  @extend %link;
  position: relative;
  overflow: hidden;
  transition: box-shadow 300ms;
  &:hover,
  &:focus {
    // filter: brightness(0.75) saturate(1.2) contrast(0.85);
    box-shadow: $shadow-team-member;
  }
}

// .team-modal__img {

// }

.team-modal__content-wrp {
  background-color: rgba(255, 94, 41, 0.82);
  position: absolute;
  width: 100%;
  height: 60%;
  opacity: 0;

  transform: translateY(0);
  display: flex;
  flex-direction: column;
  min-height: 88px;
  gap: 2px;
  align-items: center;
  padding: 10px 20px 10px;

  transition: opacity 500ms, transform 500ms;

  @media screen and (min-width: $tablet) {
    padding: 4px 18px 10px 18px;
  }
  .team-modal__link:hover + &,
  .team-modal__link:hover + & {
    transform: translateY(-100%);
    opacity: 1;
  }
  &:hover,
  &:focus {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.team-modal__title {
  font-family: $team-font;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $white;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    margin-bottom: 0;
    max-width: 82px;
  }
}
.team-modal__title.small-title {
  @media screen and (min-width: $tablet) {
    max-width: 68px;
  }
}

.team-modal__descr {
  font-family: $team-font;
  margin-bottom: 12px;
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  color: $grey-footer-background;
  @media screen and (min-width: $tablet) {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.social__items {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media screen and (min-width: $tablet) {
    gap: 8px;
  }
}

.social__link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $grey-social;
  color: $grey;
  transition: $transition color, $transition background-color,
    $transition box-shadow;
  @media screen and (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.social__icon {
  fill: currentColor;
  @media screen and (min-width: $tablet) {
    width: 10px;
    height: 10px;
  }
}

.social__link:hover,
.social__link:focus {
  color: $white;
  background-color: #ff6b01;
  box-shadow: 0px 4px 4px rgba(255, 107, 1, 0.6);
}
