.films {
  padding: 20px 0 40px;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }
}

.films__title {
  @extend %visually-hidden;
}

.films__list {
  @extend %list;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    gap: 32px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 15px;
  }
}

.film {
  @extend %link;
  width: 280px;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 292px;
  }
}

.film__thumb {
  height: 420px;

  overflow: hidden;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    height: 504px;
  }

  @media screen and (min-width: $desktop) {
    height: 438px;
  }
}

.film__img {
  height: 100%;
  object-fit: cover;
}

.film__wrap {
  height: 50px;
}

.film__title {
  margin-top: 10px;
  margin-bottom: 3px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    margin-top: 8px;

    line-height: 1.33;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 12px;

    font-size: 14px;
    line-height: 1.2;
  }
}

.film__genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $orange;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.2;
  }
}

// Pagination
.pagination {
  user-select: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid $grey-social;
  background: $grey-social;
  border-radius: 5px;
  transition-duration: 0.4s;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $white;
  }
}

.page.disabled {
  color: grey;

  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed;
    background-color: $grey-social;
  }
}

.current {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $orange;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $white;
}

.numb {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &--first-page,
  &--last-page {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: underline;
  }

  &--blank:hover,
  &--blank:focus,
  &--blank:active {
    cursor: default;
    text-decoration: none;
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.before-cur-page,
.after-cur-page {
  display: flex;
  justify-content: center;

  min-width: 46px;

  @media screen and (min-width: $tablet) {
    min-width: 152px;
  }
}

// Modal
.basicLightbox {
  overflow-y: scroll;
  align-items: flex-start;
  padding: 60px 0;
}

.film__modal {
  position: relative;

  padding: 46px 20px 40px;
  width: 280px;

  background-color: $white;

  @media screen and (min-width: $tablet) {
    width: 704px;
    display: flex;
    gap: 68px;
    padding: 40px 36px 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
  }
}

.film-modal__close {
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: auto;

  font-size: large;
  font-weight: 700;
}

.film-modal__thumb {
  height: 357px;

  overflow: hidden;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    height: 478px;
  }
}

.film-modal__img {
  width: 240px;
  height: 100%;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
  }
}

.film-modal__text-wrap {
  @media screen and (min-width: $tablet) {
    width: 265px;
  }

  @media screen and (min-width: $desktop) {
    width: 391px;
  }
}

.film-modal__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 35px;
  }
}

.film-modal__list-characteristic {
  @extend %list;
  margin-bottom: 20px;
}

.film-modal__item-characteristic {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.film-modal__characteristic-text {
  display: flex;

  font-weight: 500;
  font-size: 12px;
}

.characteristic__name {
  line-height: 1.33;

  color: #8c8c8c;
}

.characteristic__name--vote {
  margin-right: 41px;
}

.characteristic__value--vote {
  display: flex;
}

.characteristic__vote {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $orange-button;
  color: $white;
  border-radius: 5px;
  width: 37px;

  &:not(:last-child) {
    margin-right: 3px;
  }

  &:last-child {
    margin-left: 3px;
  }
}

.characteristic__vote--count {
  background: $grey-footer-background;
  color: $black;
}

.characteristic__name--popularity {
  margin-right: 53px;
}

.characteristic__name--title {
  margin-right: 39px;
}

.characteristic__name--genre {
  margin-right: 76px;
}

.characteristic__value {
  width: 120px;

  line-height: 14px;
  text-transform: uppercase;
}

.film-modal__trailer {
  display: block;
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: #e7e7e7;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #e7e7e7;

  transition-duration: 0.4s;

  &:hover {
    background-color: $white;
  }
}

.film-modal__about-film-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film-modal__about-film-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-bottom: 40px;
  }
}

.film-modal__wrap-btn {
  gap: 20px;

  @media screen and (min-width: $tablet) {
    gap: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: 287px;
  }
}

.film-modal__btn {
  height: 44px;
  width: 100%;
  padding: 0 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-radius: 5px;
}

.film-modal__btn--watched {
  color: $white;
  background-color: $orange-button;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: #ff5601;
  }
}

.film-modal__btn--queue {
  border: 1px solid #000000;
  transition: background-color $transition, color $transition;

  &:hover,
  &:focus {
    background-color: #000000;
    color: $white;
  }
}

.film-modal__iframe {
  width: 280px;
  height: 155px;

  @media screen and (min-width: 500px) {
    width: 380px;
    height: 210px;
  }

  @media screen and (min-width: $tablet) {
    width: 480px;
    height: 270px;
  }

  @media screen and (min-width: $desktop) {
    width: 600px;
    height: 340px;
  }
}

.empty {
  display: flex;
  align-items: center;
  text-align: center;

  background-color: $white;
  width: 280px;
  height: 150px;
  padding: 20px;
  border-radius: 15px;

  @media screen and (min-width: $desktop) {
    width: 380px;
  }
}

.empty__text {
  font-size: 20px;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}
