.user-films {
  padding: 20px 0 40px;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }
}

.stub__container {
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}
.stub__title {
  text-align: center;
  font-size: 32px;
  margin: 20px auto 0;
}

.stub__link {
  color: $orange;
  transition: color $time-cubic;
  &:hover,
  :focus {
    color: $red;
  }
}
.stub__container.is-hidden {
  display: none;
}
